body {
    background: #202124;
}

.header div{
    display: inline;
}


a {
    color: white;
    font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: 13px;
    text-decoration: none;
}

img {
    height: auto;
    width: 14px;
    fill: white;
}

.google.logo {
    height: auto;
    width: auto;
}
