body {
    background: #202124;
}

.header div{
    display: inline;
}


a {
    color: white;
    font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: 13px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#search-image-logo,
#advance-search-logo {
    height: auto;
    width: 16px;
    fill: white;
}

.image-item,
.advance-item {
    margin-left: 10px;
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

* {
    outline: 2px solid goldenrod;
}
